<div class="container-fluid">
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
          <h1 class="row text-center header">
            SIGN UP
            <br />
            CREATE YOUR ACCOUNT
          </h1>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "row"}) do |f| %>
            <% if notice %>
              <p class="alert alert-warning notice"><%= notice %></p>
            <% end %>
            <% if resource.errors.present? %>
              <p class="alert alert-danger">
                <% resource.errors.full_messages.each do |error| %>
                  <%= error %><br />
                <% end %>
              </p>
            <% end %>
            <input type="email" name="user[email]" class="form-control input-lg" placeholder="Email"/>
            <input type="text" name="user[name]" class="form-control input-lg" placeholder="Full Name"/>
            <input type="password" name="user[password]" autocomplete="off" class="form-control input-lg" placeholder="Password (6 Character Minimum)"/>
            <input type="password" name="user[password_confirmation]" autocomplete="off" class="form-control input-lg" placeholder="Confirm Password"/> 

            <input type="checkbox" id="box-1" name="user[newsletter]">
            <label for="box-1" class="newsletter">Sign me up for the newsletter</label>

            <input type="submit" value="Sign Up" class="form-control input-lg text-center submit"/>
          <% end %>

          <div class="row links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
