<div class="container-fluid index">
	<div class="row section-one">
		<div class="container">
			<h1 class="col-xs-12 text-center tagline">
				<%= t 'copy.landing.section_one.header' %>
			</h1>
			<p class="col-xs-12 col-md-8 col-md-offset-2 text-center tagline-detail">
				 <%= t 'copy.landing.section_one.sub_header' %>
			</p>
		</div>
	</div>
	<div class="row section-two">
		<div class="container">
			<h1 class="col-xs-12 text-center"><%= t 'copy.landing.section_two.header' %></h1>
			<p class="col-xs-12 col-md-8 col-md-offset-2 text-center tagline-detail">
				 <%= t 'copy.landing.section_two.sub_header' %>
			</p>
		</div>
	</div>
</div>