<ul class="nav nav-tabs nav-justified">
	<li role="presentation" class="active" id="sales30day"><a href="javascript:void(0);">Past 30 Days</a></li>
	<li role="presentation" id="sales7day"><a href="javascript:void(0);">Past Week</a></li>
	<li role="presentation" id="sales1day"><a href="javascript:void(0);">Past 24 Hours</a></li>
</ul>