<ul class="nav nav-tabs nav-justified">
	<li role="presentation" class="active" id="siteTraffic30day"><a href="javascript:void(0);">Past 30 Days</a></li>
	<li role="presentation" id="siteTraffic7day"><a href="javascript:void(0);">Past Week</a></li>
	<li role="presentation" id="siteTraffic1day"><a href="javascript:void(0);">Past 24 Hours</a></li>
</ul>