<div class="container-fluid">
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <h1 class="row text-center header">
            SIGN IN
          </h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "row"}) do |f| %>
            <% if notice %>
              <p class="alert alert-info notice"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <input type="email" name="user[email]" class="form-control input-lg" placeholder="Email"/>
            <input type="password" name="user[password]" autocomplete="off" class="form-control input-lg" placeholder="Password"/>

            <input type="checkbox" id="box-1" name="user[remember_me]">
            <label for="box-1">Remember Me</label>

            <input type="submit" value="Sign In" class="form-control input-lg text-center submit"/>
          <% end %>

          <div class="row links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
