<div class="container-fluid" style="margin-top: 100px">
	<div class="row">
		<div class="container">
			<div class="col-xs-6">
				<h3 class="row">Account</h3>
				<div class="row">
					<label>Full Name:</label>
					<input type="text" name="name" value="<%= current_user.name %>" required class="form-control"/>
					<label>Email:</label>
					<input type="email" name="email" value="<%= current_user.email %>" required class="form-control"/>
				</div>
			</div>
		</div>
	</div>
</div>
