<div class="container-fluid" style="margin-top: 100px">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<div class="row">
						<h3 class="col-xs-12">Your Websites</h3>
						<div class="col-xs-12">
							<% current_user.websites.each do |website| %>
								<hr />
								<h4><%= website.name %></h4>
								<p><%= website.url %></p>
								<p>API Key: <code><%= website.api_key %></code></p>
							<% end %>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<a href="/websites/new" class="add-website">Add a Website</a>
				</div>
			</div>
		</div>
	</div>
</div>