<div class="modal fade" id="bugReportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submit a Bug Report</h4>
      </div>
      <div class="modal-body">
        <p>
          Please describe what happened in as much detail as possible. Things you may want to include are the name and version of the browser you are using,
          the operating system you are using, what went wrong, and what you were trying to do.
        </p>
        <form>
          <textarea class="form-control" name="report-body"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="submit">Report</button>
      </div>
    </div>
  </div>
</div>