@import 'style_constants';

.analytics {
	.sites.nav-tabs>li.active>a, 
	.sites.nav-tabs>li.active>a:focus, 
	.sites.nav-tabs>li.active>a:hover {
		border-bottom-color: #ddd;
	}

	.beta-note {
		background: $blue25;
		border: 1px solid $blue50;
		margin-top: 20px;
		color: $blue100;
		padding-top: 10px;
		padding-bottom: 10px;

		a {
			color: $black100;
			text-decoration: underline;
		}
	}

	.data-container {
		border-bottom: 1px solid #ddd;
		padding: 0px;

		.navigation-left {
			border: 1px solid #ddd;
			border-top-width: 0px;
			border-bottom-width: 0px;
			padding: 0px;
			position: absolute;
			height: 100%;

			.nav {
				li {
					a {
						border-radius: 0px;
					}
				}

				li.active {
					a {
						background: $blue25;
						color: $blue100;
						font-weight: bold;
					}
				}
			}
		}

		.chart-12 {
			height: 20vw;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.chart-nav {
			display: none;

			ul {
				li {
					a, a:hover, a:active {
						border-radius: 0px;
						border-top-width: 0px !important;
					}
				}
			}
		}

		.chart-nav.active {
			display: inline-block;
		}
	}

	.stats {
		margin-bottom: 30px;
		
		.stat {
			padding-top: 10px;
			padding-bottom: 10px;
			min-height: 150px;
			border: 1px solid #ddd;
		}
	}
}

.spinner-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000000;
	background: $grey50;
	text-align: center;

	.spinner {
		margin-top: 20%;
	}
}