@import 'style_constants';

.registrations {
	background: $black100;

	.header {
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		margin-top: 100px;
	}

	form {
		::-webkit-input-placeholder { 
		  color: #fff;
		  text-transform: uppercase;
		}
		:-moz-placeholder { 
		  color: #fff;
		  text-transform: uppercase;
		}
		::-moz-placeholder {
		  color: #fff;
		  text-transform: uppercase;
		}
		:-ms-input-placeholder { 
		  color: #fff;
		  text-transform: uppercase;
		}

		input {
			background: $grey25;
			color: #fff;
			border-color: transparent;
			margin-bottom: 15px;
			font-size: 14px;
			border-radius: 2px;
		}

		.submit {
			background: $blue100;
			text-transform: uppercase;
		}

		.newsletter {
			text-transform: uppercase;
		}
	}

	/*Checkboxes styles*/
	input[type="checkbox"] { display: none; }

	input[type="checkbox"] + label {
	  display: block;
	  position: relative;
	  padding-left: 35px;
	  margin-bottom: 20px;
	  font: 14px/20px 'Open Sans', Arial, sans-serif;
	  color: #ddd;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	}

	input[type="checkbox"] + label:last-child { margin-bottom: 0; }

	input[type="checkbox"] + label:before {
	  content: '';
	  display: block;
	  width: 20px;
	  height: 20px;
	  border: 1px solid $blue100;
	  background: $blue100;
	  border-radius: 2px;
	  position: absolute;
	  left: 0;
	  top: 0;
	  opacity: 1;
	  -webkit-transition: all .12s, border-color .08s;
	  transition: all .12s, border-color .08s;
	}

	input[type="checkbox"]:checked + label:before {
	  width: 10px;
	  top: -5px;
	  left: 5px;
	  border-radius: 0;
	  opacity: 1;
	  background: transparent;
	  border-top-color: transparent;
	  border-left-color: transparent;
	  -webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	.links {
		a {
			color: #fff;
		}
	}
}