@import "style_constants";

body {
	font-family: $roboto;
}

.navbar {
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	background-color: #fff;
}

.navbar-default {
	background-color: #fff;

	.navbar-header{
		padding: 10px;

		.navbar-brand {
			padding: 0px;
			height: 30px;

			img {
				height: 100%;
			  width: auto;
			}
		}
	}

	.navbar-nav>{
		li {
			padding: 13px;

			.dropdown-menu {
				padding: 10px 0px;
				border-radius: 4px;
				min-width: 200px;

				.dropdown-header {
					padding: 0px 0px 0px 10px;

					h1 {
						font-size: 14px;
						margin: 0px;
					}

					p {
						font-size: 10px;
						margin: 0px;
					}
				}

				a, a:hover {
					padding: 5px 10px;
					background-color: #fff;
				}
			}

			a {
				padding: 0px;
				color: $black100;
			}

			a:hover {
				color: $blue100;
			}
		}
	}

	.sign-in-button {
		background-color: $blue100;
		border-radius: 2px;
		padding: 13px 17px;
		font-weight: bold;
	}
}

a {
	color: $black100;
}

a:hover {
	color: $blue100;
}

code {
	color: $blue100;
	background: $blue25;
	border-radius: 0px;
}