@import "style_constants";

/* Begin Index Styles */
.index {
	.section-one {
		margin-top: 50px;
		padding: 100px 0px;
		background: $blue100;

		.tagline {
			color: #fff;
		}

		.tagline-detail {
			color: #fff;
			font-size: 18px;
			line-height: 180%;
		}

		form {
			margin-top: 80px;

			input {
				margin-bottom: 10px;
				background: $blue100;
				border: 1px solid #fff;
				border-radius: 4px;
				color: #fff;
			}

			::-webkit-input-placeholder { 
			  color: #fff;
			  opacity: 0.8;
			}
			:-moz-placeholder { 
			  color: #fff;
			  opacity: 0.8;
			}
			::-moz-placeholder {
			  color: #fff;
			  opacity: 0.8;
			}
			:-ms-input-placeholder { 
			  color: #fff;
			  opacity: 0.8;
			}

			button {
				background: #fff;
				color: $blue100;
				font-weight: bold;
				border-radius: 4px;
			}
		}
	}
}
/* End Index Styles */


