// Colors

$blue100: rgba(7, 98, 242, 1);
$blue50: rgba(7, 98, 242, 0.5);
$blue25: rgba(7, 98, 242, 0.25);

$black100: rgba(34, 34, 34, 1);
$black50: rgba(34, 34, 34, 0.5);
$black25: rgba(34, 34, 34, 0.25);

$grey100: rgba(240, 240, 240, 1);
$grey50: rgba(240, 240, 240, 0.5);
$grey25: rgba(240, 240, 240, 0.25);


// Fonts

$roboto: 'Roboto', sans-serif;